<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Beauty Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item <%= path==='/' ? 'active' : ''%>">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item <%= path==='/admin/add-product' ? 'active' : ''%>">
                    <a class="nav-link" href="/admin/add-product">Add Product</a>
                </li>
                <li class="nav-item <%= path==='/cart' ? 'active' : ''%>">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item <%= path==='/signup' ? 'active' : ''%>">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>