<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="/abc/main.css" rel="stylesheet" />
</head>

<body>
    <form action="/admin/add-product" method="POST">
        <p>
            <label>Title</label>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Price</label>
            <input type="number" name="price" />
        </p>
        <p>
            <label>Description</label>
            <textarea name="description"></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
</body>

</html>